<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>NISK rock identification</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>NISK rock identification</h1>
  </header>

  <main>
    <div id="accueil">
      <h2>Research mode</h2>
      <button onclick="afficherRechercheParNom()">Research by Rock Name</button>
      <button onclick="afficherRechercheParElements()">Research by elements</button>
    </div>

    <div id="recherche-nom" class="hidden">
      <h2>Research by Rock Name</h2>
      <div class="form-group">
        <input type="text" id="nomRoche" placeholder="Enter name of rock...">
      </div>
      <button onclick="chercherParNom()">Search</button>
      <div id="resultatNom"></div>
    </div>

    <div id="recherche-elements" class="hidden">
      <h2>Research by elements</h2>
      <form id="form-elements">
        <div id="elements-inputs"></div>
        <button type="button" onclick="chercherParElements()">Identify</button>
      </form>
      <div id="resultatElements"></div>
    </div>
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>



